name: "Lint"

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    env:
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18.5"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.2.0
        with:
          version: v1.47.3
          args: --verbose --config .golangci.yaml
          skip-cache: true
