name: "Build and test"

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  test:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.18.5"

      - name: Build program
        run: go build ./...

      - name: Run tests
        run: go test -race ./...
